aside nav ul li a.active {
  background: linear-gradient(to right, var(--primary-focus), rgba(0, 0, 0, 0));
}

aside nav ul li a:hover {
  background: linear-gradient(to right, var(--primary-focus), rgba(0, 0, 0, 0));
}

aside {
  /* Your aside styles */
  position: fixed;
  top: 70px;
  width: 500px;
  height: 100%;
  transition: left 0.3s ease;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  padding: 40px 20px;
}

aside.menu-close {
  left: -500px;
}

aside.menu-open {
  left: 0;
  z-index: 2;
}

button#menu-toggle { 
  all: unset;
  position: fixed;
  top: 80px;
  left: 20px;
  z-index: 3;
}

.background-menu-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  background: rgba(0, 0, 0, 0.5);
}

.background-menu-close {
  opacity: 1;
  pointer-events: all;
}