summary.with-control-button {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr auto auto auto;
}

/* If details is not open */
details summary.with-control-button a {
  visibility: hidden;
}

/* If details is open */
details[open=""] summary.with-control-button a {
  visibility: visible;
}