.task-matrix {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    margin: 10px;
}

.task-group {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.05);
}

.task-row {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
  }

.task-row > div {
    padding: 0 10px; /* Optional: Add padding for spacing between elements */
}

/* If details is not open */
details summary.with-control-button span.task-row div.summary-detail {
    visibility: visible;
}

/* If details is open */
details[open=""] summary.with-control-button span.task-row div.summary-detail {
    visibility: hidden;
}

.vertical-text {
    transform: rotate(-90deg);
}

.empty-task-container {
    text-align: center;
    font-size: 1.5em;
    color: #999;
    font-style: italic;
}

table thead tr th {
    text-align: center;
}

table tbody tr th {
    text-align: center;
}

table tbody tr td {
    vertical-align: top;
}

.text-center {
    text-align: center;
}
